@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    max-width: 1550px;
    margin: auto;
    font-family: sans-serif, "Martel Sans";
    min-width: 260px;
}

.main {
    background-image: url(assets/netfilix\ bg.jpg);
    height: 99vh;
    max-height: 850px;
    background-position: center center;
    background-size: max(1511px, 100vw);
    background-repeat: no-repeat;
    border-bottom: .25rem solid red;
}

nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 0 9.25rem;
    position: relative;
    z-index: 3;
}

nav img {
    width: 144px;
}

.black-box {
    background: black;
    height: 99vh;
    max-height: 850px;
    width: 100%;
    opacity: 0.75;
    color: white;
    position: absolute;
    top: 0;
}

.lan-box {
    color: white;
    padding: 6px 12px;
    border: 1px solid rgb(125, 122, 122);
    border-radius: 0.25rem;
    margin-right: 10px;
}

.buttons-box1 #lan {
    background: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 400;
    padding-left: 2px;
}

.buttons-box1 .but1 {
    background: red;
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding: 7px 15px;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
}

.buttons-box1 .but1:hover {
    background: rgb(184, 10, 10);
}

.main-box1 {
    font-family: "Martel Sans", sans-serif;
    color: white;
    height: calc(100% - 70px);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-box1> :nth-child(1) {
    font-size: 3.5rem;
    font-weight: 900;
    text-align: center;
    max-width: 700px;
    margin-bottom: 1rem;
    line-height: 125%;
}

.main-box1> :nth-child(2) {
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 2rem;
}

.main-box1> :nth-child(3) {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 16px;
}

.buttons-box2 input {
    background: #0f0f0f;
    color: white;
    font-size: 16px;
    font-weight: 400;
    padding: 17px 160px 17px 21px;
    border: 1px solid rgb(125, 122, 122);
    border-radius: 0.25rem;
    margin: 0px 3px;
}

.buttons-box2 .but2 {
    background: red;
    color: white;
    font-size: 24px;
    font-weight: 500;
    padding: 11px 28px 16px;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

.buttons2 .but3:hover {
    background: rgb(184, 10, 10);
}


section {
    width: 80%;
    margin: auto;
    position: relative;
    color: white;
}

section h2 {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 70px 0px 16px 0px;
}

.img-box {
    display: flex;
    position: relative;
}

.arrow {
    background: black;
    height: 100%;
    position: absolute;
    z-index: 1;
    display: grid;
    place-items: center;
    transition: opacity 0.4s ease-in-out;
}

.Arrow-hide {
    opacity: 0;
}

.left-box {
    left: 0px;
}

.right-box {
    right: 0px;
}

.arrow button {
    width: 1.5rem;
    height: 7.5rem;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.7);
    border-radius: 0.5rem;
    border: none;
}

#left {
    margin-right: 0.75rem;
}

#right {
    margin-left: 0.75rem;
}

.img-box .imgs {
    display: flex;
    position: relative;
    overflow: hidden;
    overflow-x: scroll;
    gap: 24px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.imgs .photo {
    cursor: pointer;
    transition: transform 0.3s;
}

.photo:hover {
    transform: scale(1.05);
}

.imgs img {
    width: 180px;
    height: 252px;
    border-radius: 0.5rem;
    margin: 10px 0px 10px 24px;
}

.imgs p {
    font-size: 99px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.8);
    -webkit-text-stroke: 1px white;
    position: absolute;
    bottom: 14px;
}

section .box {
    display: flex;
    gap: 15px;
}

.box .boxx {
    width: 298px;
    height: 278px;
    background: #1c1830;
    padding: 0px 21px;
    border-radius: 1rem;
    position: relative;
}

.boxx h2 {
    padding: 20px 0px;
}

.boxx p {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
}

.boxx svg {
    position: absolute;
    right: 14px;
    bottom: 14px;
}

.ans-box .ans {
    background: #2d2d2d;
    font-size: 1.5rem;
    padding: 1.5rem;
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all .44s ease-out .10s;
}

.ans-box .ans:hover {
    background: #434242;
}

.ans-box .answer {
    background: #2d2d2d;
    display: block;
    font-size: 1.5rem;
    padding: 1.5rem;
    border-top: 1px solid black;
    display: none;
}

.ans-box .answer-so {
    display: block;
}

section .buttons-box2 {
    text-align: center;
    margin: 70px 0;
}

.buttons-box2 h3 {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 20px;
}

section .buttons-box2 input {
    padding: 17px 290px 17px 20px;
}


footer {
    width: 80%;
    margin: auto;
}

footer p,
a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
    margin: 20px 0px;
}

.foot {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 55px;
}

.foot a {
    margin: 9px 0px;
}

.buttons-box1 p {
    margin: 40px 0px;
}

.buttons-box1 #last {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8125rem;
    margin-bottom: 144px;
}

.buttons-box1 #last a {
    color: rgb(68, 142, 244);
    font-size: 0.8125rem;
}